---
title: Homepage
---

<div class="page_centered">
	<header>
		<img class="profile_img" src="https://avatars3.githubusercontent.com/u/2001345">
		<h1>Kyle E DeFreitas</h1>
		<h2>Software Developer,  Entrepreneur</h2>
	</header>
	<footer>
		<ul class="info_links">
			<li><%= link_to 'Blog', 'http://blog.kyledef.org/', title: 'Ambitious Words' %></li>
			<li><%= link_to 'Github', 'https://github.com/kyledef', title: 'Public Projects Repositories' %></li>
			<li><%= link_to 'UWI', 'http://moodle.kyledef.org/', title: 'Teaching Resources' %></li>
			<li><%= link_to 'Twitter', 'https://twitter.com/kyle_def', title: 'Social Connections' %></li>
		</ul>
	</footer>
</div>

